/* @media screen and (min-device-width: 1024px){ */

html {
    margin-left: auto;
    margin-right: auto;
}
 
  body {
    width: 1024px;
    margin:0;
  }
  
  nav {
    height: 70px;
    font-size: 11px;
    line-height: 70px;
    font-weight: 600;
    background-color: rgb(39, 33, 44);
    color: white;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    padding-left: 25px;
    margin:0;
  }
  
  li {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .free {
    margin-top: -35px;
    height: 450px;
    background-color: rgb(12, 163, 185);
  }

  .site {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(158, 208, 219);
    font-size: 25px;
    text-align: left;
    padding-left: 340px;
    display: flex;
  }
  
  .robin {
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 170px;
    width: 900px;
    background-color: rgb(39, 33, 44);
    color:rgb(136, 121, 150);
    text-align:center;
    line-height: 155px;
    padding-left: 125px;
    font-size:23px;
  }

  .pointer {
    padding-left: 120px;
  }

  .pink-pointer {
    width: 220px;
    background-color: rgb(188, 49, 131);
    text-align: center;
    padding-top: 55px;
  }

  .bar {
    display: flex;
  }

  .picture-bar {
    display: flex;
    height: 270px;
  }

  .violet-pointer {
    width: 341px;
    background-color: rgb(91, 15, 161);
    text-align: center;
    padding-top: 115px;
  }

  footer {
    height: 350px;
    display: flex;
    background-color: rgb(235, 235, 235);
  }

  .first {
    width: 512px;
  }

  .second {
    width: 512px;
  }
  h2 {
    font-size: 20px;
    line-height: -15;
    padding-left: 20px;
    color: rgb(8, 140, 165);
  }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
    padding-top: 130px;
  }

  h5 {
    color: rgb(109, 109, 109);
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
